[Unit]
Description=DHCP client daemon for Novpn
Requires=novpn-namespace.service
After=novpn-novpn.service

[Service]
Type=simple
ExecStart=novpn /sbin/dhcpcd -4 -C resolv.conf --leasetime 1800 eth0 -B

[Install]
WantedBy=multi-user.target
